/* 0xide based colors (oxide.computer) */
* {
    border: none;
    border-radius: 0;
    font-family: Arial; 
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(11, 20, 24, 1);
    border-bottom: 1px solid rgba(48, 55, 59, 1);
    color: white;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.visible {
    background: #14312b;
    border-bottom: 3px solid white;
}

#mode, #clock, #network, #cpu, #memory, #battery, #pulseaudio, #tray {
    padding: 0 5px;
    margin: 0 5px;
}

#mode {
    background: #424242;
    border-bottom: 3px solid white;
}

#clock {
    border-bottom: 3px solid white;
}

#network {
    border-bottom: 3px solid #4969f6;
}

#cpu {
    border-bottom: 3px solid #e86886;
}

#memory {
    border-bottom: 3px solid #48d597;
}

#pulseaudio {
    border-bottom: 3px solid #f5cf65;
}

#pulseaudio.muted {
    background-color: #f5cf65;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

