/* 0xide based colors (oxide.computer) */
* {
    border: none;
    border-radius: 0;
    font-family: Roboto;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #1d2125;
    border-bottom: 2px solid #30373b;
    color: white;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: white;
    border-bottom: 2px solid #30373b;
}

#workspaces button.visible {
    border-bottom: 2px solid #48d597;
    color: #48d597;
}

#custom-power {
    margin: 0px 5px 0px 0px;
    border-bottom: 2px solid #30373b;
}

#mode, #clock, #network, #cpu, #memory, #battery, #pulseaudio, #custom-media, #tray {
    padding: 0 5px;
    margin: 0 5px;
    border-bottom: 2px solid #30373b;
}

#mode {
    border-bottom: 2px solid #48d597;
    color: #48d597;
}

#cpu {
    background: #2c2128;
    color: #e86886;
}

#memory {
    background: #142139;
    color: #4969f6;
}

#pulseaudio {
    background: #2e3024;
    color: #f5cf65;
}

#custom-media {
    background: #14312b;
    color: #48d597;
}

#battery.charging {
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

