/* 0xide based colors (oxide.computer) */
* {
    border: none;
    border-radius: 0;
    font-family: Roboto;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(11, 20, 24, 1);
    border-bottom: 2px solid rgba(48, 55, 59, 1);
    color: white;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: white;
    border-bottom: 2px solid rgba(48, 55, 59, 1);
}

#workspaces button.visible {
    background: #14312b;
    color: #48d597;
}

#mode, #clock, #network, #cpu, #memory, #battery, #pulseaudio, #tray {
    padding: 0 5px;
    margin: 0 5px;
}

#mode {
    background: #14312b;
    color: #48d597;
    border-bottom: 2px solid rgba(48, 55, 59, 1);
}

#battery.charging {
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

