/* 0xide based colors (oxide.computer) */
#input, #text {
    font-family: "Source Sans";
}

window {
    margin: 5px;
    background-color: #1d2125;
    border-radius: 5px;
}

#input {
    font-size: 20;
    margin: 10px;
    background-color: #1d2125;
    border: none;
    color: white;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    border: none;
}

#outer-box {
    margin: 1px;
    border: none;
}

#text {
    padding: 5px;
    color: white;
}

#entry:selected {
    background-color: #30373b;
    outline: 0;
}

#text:selected {
    background: transparent;
}

#img:selected {
    background: transparent;
}
