window {
    background-color: #222222;
}

#input {
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #48d597;
    background-color: #222222;
    color: white;
}

#input:focus {
    border: solid 1px;
    border-color: #48d597;
    box-shadow: none;
}

#inner-box {
    background-color: #222222;
}

#text {
    padding: 5px;
    color: white;
}

#entry:selected {
    background-color: #48d597;
}

#text:selected {
    color: black;
}
